{%- set max_turns = game_info.max_turns -%}
- key: Number of Secret Words
  value: |-
    {{ game_info.num_targets }}

- key: Maximum Number of Letters in One Guess
  value: |-
    {{ game_info.max_letters }}

- key: Maximum Number of Guesses
  value: |-
    {{ max_turns if max_turns > 0 else "unlimited"}}
